    html {
        background-color: black;
        box-sizing: border-box;
        font-family: Helvetica, sans-serif;
        color: seashell;
        opacity: 0.9;     
        display: flex;
        justify-content: center;        
    }

   h2 {
       font-size: 2.2em;
   }

   h4{
       font-size: 1.45em;
       font-weight: bolder;
   }

    /* main banner*/

    header {
        align-items: center;
        display: flex;
        height: 69px;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid seashell;     
    }

    #logo {
        margin-left: 10px;
        height: 50px;
        width: auto;             
    }
  
    nav ul li {
        display: inline-flex;     
        justify-content: space-between;
        margin-right: auto;
        font-size: 1.5em;
        padding-inline: 10px;
        text-decoration: underline;        
    }

/* -------------------------Mission section-----------------------------------*/

    .mission {
        background-image: url(../media/img-mission-background.jpg);
        height: 700px;
        width: 1200px; 
        position: relative;
        display: inline-flex;
        align-items: center;
        
    }

    #our-mission{
        background-color: black;
        text-align: center;
        /*align-content: space-around;*/
        position: absolute;
        display: inline;
        width: 100%;
    }


    /*-----------------Featured Tea Section-----------------------------*/

    .tea-of-the-month {
        width: 1000px;   
        justify-content: center;             
    }

    .featured-tea {
        display: inline;
        text-align: center;

    }

    .photo-gallery {
       
        width: 1000px;
        align-content: space-around;

    }

    .gal-img {
        width: 300px;
        height: 200px;
    }

